<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MIDI_Splitter_Lite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <MIDI_Splitter_Lite.Properties.Settings>
            <setting name="CopyFirstTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadTrackNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePrefixBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value />
            </setting>
            <setting name="Color2" serializeAs="String">
                <value />
            </setting>
            <setting name="Color3" serializeAs="String">
                <value />
            </setting>
            <setting name="Color4" serializeAs="String">
                <value />
            </setting>
            <setting name="Color5" serializeAs="String">
                <value />
            </setting>
            <setting name="Color6" serializeAs="String">
                <value />
            </setting>
            <setting name="Color7" serializeAs="String">
                <value />
            </setting>
        </MIDI_Splitter_Lite.Properties.Settings>
    </userSettings>
</configuration>
